
.page_title
    width 100%
    font-weight bold
    color #111
    border-top 5px #888 solid
    text-align center

.section_body
    display flex
    justify-content center
    width 100%

.ss_box
    display flex
    justify-content center
    width 100%
    margin 2em 0 0
    text-align center

.app_title_box
    padding 1em

.introduction_box
    padding 1em

.app_title
    font-size: 2em
    margin-bottom: 0.5em

.ss_image_box
    width 31.334%
    margin 0 1%
    cursor pointer

.ss_image
    max-width 100%
    max-height 244px

.media_box
    margin 2em 0 0

.media_one
    width 100%

.download_box
    margin 2em 0 0

.download_box .link
    width 100%
    padding 0.5em 0