
.page_title
    width 100%
    font-weight bold
    color #111
    border-top 5px #888 solid
    text-align center

.section_body
    display flex
    justify-content center
    flex-wrap wrap
    width 100%

.ss_box
    display flex
    justify-content center
    flex-wrap wrap
    width 100%
    margin 2em 0 0
    text-align center

.top_line
    display flex
    justify-content center
    flex-wrap wrap
    width 100%

.app_title_box
    width 40%
    padding 1em
    text-align center

.introduction_box
    width 60%
    padding 1em

.app_title
    width 100%
    font-size: 2em
    margin-bottom: 0.5em

.introduction
    width 100%
    white-space pre-wrap

.ss_image_box
    width 31.334%
    margin 0 1%
    cursor pointer

.ss_image
    max-width 100%
    max-height 244px

.media_box
    margin 2em 0 0

.media_one
    width 100%

.download_box
    margin 2em 0 0

.download_box .link
    width 100%
    padding 0.5em 0

@media (max-width: 850px)
    .app_title_box
        width 96%
        margin 0 2%

    .introduction_box
        width 96%
        margin 0 2%
