
.page_title
    width 100%
    font-weight bold
    color #111
    border-top 5px #888 solid
    text-align center

.title_image_box
.title_image
    width 100%

.title_text_box
    margin 1em 0
    width 100%
    text-align center

.title_text
    font-size 2em
    font-weight bold

.introduction_box
    margin 1em 0
    width 100%
    text-align center

.lets_play
    margin 1em 0
    width 100%
    text-align center

.play_button
    padding 0.5em 2em
    border-radius 1.25em
    background-color #942186
    color #fff
    font-size: 1.5em
    text-decoration none