
.page_title
    width 100%
    font-weight bold
    color #111
    border-top 5px #888 solid
    text-align center

.title_image_box
.title_image
    width 100%

.title_text_box
    margin 2em 0 0
    width 100%
    text-align center

.title_text
    font-size 2em
    font-weight bold

.introduction_box
    margin 2em 0 0
    width 100%
    text-align center

.weapons_image_box
    margin 2em 0 0
    width 100%

.weapons_image
    width 100%

.control_introduction_box
    display flex
    justify-content center
    width 100%
    margin 2em 0 0

.control_introduction_key
    margin-right 1em
    vertical-align top
    font-weight bold

.tips_box
    display flex
    justify-content center
    width 100%
    margin 2em 0 0

.tip_box
    width 31.334%
    margin 0 1%
    padding 1.5%
    border 1px #999 solid

.tips_key
    width 100%
    padding-left 0.5em
    margin-bottom 0.5em
    font-weight bold
    border-bottom 1px #999 solid

.ss_box
    display flex
    justify-content center
    width 100%
    margin 2em 0 0

.ss
    width 31.334%
    margin 0 1%
    cursor pointer

.ss_image
    width 100%

.lets_play
    margin 2em 0 0
    width 100%
    text-align center

.lets_play:nth-child(10)
    padding 0 0 2em

.play_button
    padding 0.5em 2em
    border 2px #942186 solid
    border-radius 1.25em
    background-color #942186
    color #fff
    font-size 1.5em
    text-decoration none

.play_button:hover
    background-color #fff
    color #942186