html
    scroll-behavior smooth

*
    box-sizing border-box
    font-family "Kosugi Maru", "Yu Gothic", YuGothic, sans-serif

a
span
    display inline-block

.application--wrap
    position relative

.section
    position: absolute
    top 5%
    left 5%
    height 90%
    width 80%
    background-color #fff
    animation section_active_animate 1.2s

.section_body
    display flex
    justify-content left
    align-items top
    flex-wrap wrap
    overflow scroll
    height 100%
    padding 1%

@keyframes section_active_animate
    0%
        opacity: 0
    100%
        opacity: 1

@media (max-width: 850px)
    .section
        top 0
        left 0
        height calc(100% - 72px)
        width 100%
