#nav .nav_service.default
    animation: nav_service_default_animate 1.2s

#nav .nav_service.active
    animation: nav_service_active_animate 1.2s

#nav .nav_service.deactive
    animation: nav_service_deactive_animate 1.2s

@keyframes nav_service_default_animate
    0%
        right: 20%
        opacity: 0
    100%
        right: -10%
        opacity: 1

@keyframes nav_service_active_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_service_deactive_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -35%
        opacity: 0
