#nav .nav_movie.default
    animation: nav_movie_default_animate 1.2s

#nav .nav_movie.active
    animation: nav_movie_active_animate 1.2s

#nav .nav_movie.deactive
    animation: nav_movie_deactive_animate 1.2s

@keyframes nav_movie_default_animate
    0%
        right: 15%
        opacity: 0
    100%
        right: -15%
        opacity: 1

@keyframes nav_movie_active_animate
    0%
        right: -15%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_movie_deactive_animate
    0%
        right: -15%
        opacity: 1
    100%
        right: -35%
        opacity: 0

@media (max-width: 850px)
    #nav .nav_movie.default
        animation: nav_movie_default_animate_sp 1.2s

    #nav .nav_movie.active
        animation: nav_movie_active_animate_sp 1.2s

    #nav .nav_movie.deactive
        animation: nav_movie_deactive_animate_sp 1.2s

    @keyframes nav_movie_default_animate_sp
        0%
            bottom: 30%
            opacity: 0
        100%
            bottom: 10%
            opacity: 1

    @keyframes nav_movie_active_animate_sp
        0%
            bottom: 10%
            opacity: 1
        100%
            bottom: 5%
            opacity: 1

    @keyframes nav_movie_deactive_animate_sp
        0%
            bottom: 10%
            opacity: 1
        100%
            bottom: -5%
            opacity: 0
