
#nav
    font-family: "Kosugi Maru"

#nav button
    position: fixed
    z-index: 1000
    bottom: 5%
    text-transform: capitalize
    width: 100vh
    max-width: 100vw
    transform: rotate(-75deg)
    padding: 1.2em 0
    font-size: 1.6em

#nav button.active
    right: -20%
    opacity: 1

#nav button.deactive
    right: -30%
    opacity: 0
