#nav .nav_app.default
    animation: nav_app_default_animate 1.2s

#nav .nav_app.active
    animation: nav_app_active_animate 1.2s

#nav .nav_app.deactive
    animation: nav_app_deactive_animate 1.2s

@keyframes nav_app_default_animate
    0%
        right: 20%
        opacity: 0
    100%
        right: -10%
        opacity: 1

@keyframes nav_app_active_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_app_deactive_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -35%
        opacity: 0

@media (max-width: 850px)
    #nav .nav_app.default
        animation: nav_app_default_animate_sp 1.2s

    #nav .nav_app.active
        animation: nav_app_active_animate_sp 1.2s

    #nav .nav_app.deactive
        animation: nav_app_deactive_animate_sp 1.2s

    @keyframes nav_app_default_animate_sp
        0%
            bottom: 288px
            opacity: 0
        100%
            bottom: 144px
            opacity: 1

    @keyframes nav_app_active_animate_sp
        0%
            bottom: 144px
            opacity: 1
        100%
            bottom: 36px
            opacity: 1

    @keyframes nav_app_deactive_animate_sp
        0%
            bottom: 144px
            opacity: 1
        100%
            bottom: -5%
            opacity: 0
