#nav .nav_animate.default
    animation: nav_menu_default_animate 1.2s

@keyframes nav_menu_default_animate
    0%
        right: 5%
        opacity: 0
    100%
        right: -25%
        opacity: 1
