#nav .nav_game.default
    animation: nav_game_default_animate 1.2s

#nav .nav_game.active
    animation: nav_game_active_animate 1.2s

#nav .nav_game.deactive
    animation: nav_game_deactive_animate 1.2s

@keyframes nav_game_default_animate
    0%
        right: 25%
        opacity: 0
    100%
        right: -5%
        opacity: 1

@keyframes nav_game_active_animate
    0%
        right: -5%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_game_deactive_animate
    0%
        right: -5%
        opacity: 1
    100%
        right: -30%
        opacity: 0
