
.page_title
    width 100%
    font-weight bold
    color #111
    border-top 5px #888 solid
    text-align center

.section_body
    display flex
    justify-content left
    width 100%

.movie_box
    width 48%
    min-height 185px
    margin 1%

.content_niconico
    width 100%
    height 100%