#nav .nav_movie.default
    animation: nav_movie_default_animate 1.2s

#nav .nav_movie.active
    animation: nav_movie_active_animate 1.2s

#nav .nav_movie.deactive
    animation: nav_movie_deactive_animate 1.2s

@keyframes nav_movie_default_animate
    0%
        right: 20%
        opacity: 0
    100%
        right: -10%
        opacity: 1

@keyframes nav_movie_active_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_movie_deactive_animate
    0%
        right: -10%
        opacity: 1
    100%
        right: -30%
        opacity: 0
