#nav .nav_latest.default
    animation: nav_latest_default_animate 1.2s

#nav .nav_latest.active
    opacity: 1
    background: linear-gradient(to right,  rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%)
    color: #111
    animation: nav_latest_active_animate 1.2s

#nav .nav_latest.deactive
    right: -30%
    opacity: 0
    background: linear-gradient(to right,  rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%)
    color: #111
    animation: nav_latest_deactive_animate 1.2s

@keyframes nav_latest_default_animate
    0%
        right: 30%
        opacity: 0
    100%
        right: 0
        opacity: 1

@keyframes nav_latest_active_animate
    0%
        right: 0
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_latest_deactive_animate
    0%
        right: 0
        opacity: 1
    100%
        right: -30%
        opacity: 0
