#nav .nav_link.default
    background: linear-gradient(to right,  rgba(255, 96, 0, 1) 0%, rgba(255, 96, 0, 1) 50%, rgba(255, 96, 0, 0) 100%)
    color: #111
    animation: nav_link_animate 1.2s

#nav .nav_link.active
    right: -20%
    opacity: 1
    background: linear-gradient(to right,  rgba(255, 96, 0, 1) 0%, rgba(255, 96, 0, 1) 50%, rgba(255, 96, 0, 0) 100%)
    color: #111
    animation: nav_link_active_animate 1.2s

#nav .nav_link.deactive
    right: -30%
    opacity: 0
    background: linear-gradient(to right,  rgba(255, 96, 0, 1) 0%, rgba(255, 96, 0, 1) 50%, rgba(255, 96, 0, 0) 100%)
    color: #111
    animation: nav_link_deactive_animate 1.2s

@keyframes nav_link_animate
    0%
        right: 10%
        opacity: 0
    100%
        right: -20%
        opacity: 1

@keyframes nav_link_active_animate
    0%
        right: -20%
        opacity: 1
    100%
        right: -20%
        opacity: 1

@keyframes nav_link_deactive_animate
    0%
        right: -20%
        opacity: 1
    100%
        right: -30%
        opacity: 0
